doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/main.css')
    title Bealls Florida Department
  body
    section.main-header-wrapper
      div.main-header-display
        section.main-nav-wrapper
          div.main-logo
            h1 BEALLS

          section.main-nav-links
            div.top-link-container
              a(href="/").top-link-a HOME
              div.slideout-link-container
                div.slideout-inner-container
                  ul.slideout-ul
                    h3 Cate Title
                    li Item
                    li Item
                    li Item
                    li Item
                    li Item
                  ul.slideout-ul
                    h3 Cate Title
                    li Item
                    li Item
                    li Item
                    li Item
                    li Item
                  ul.slideout-ul
                    h3 Cate Title
                    li Item
                    li Item
                    li Item
                    li Item
                    li Item

            div.top-link-container
              a(href="/women").top-link-a WOMEN
              div.slideout-link-container
                div.slideout-inner-container
                  ul.slideout-ul
                    h3 Shop Categories
                    li: a(href='#') Tops, Tanks and Tees
                    li: a(href='#') Dresses
                    li: a(href='#') Shorts
                    li Pants
                    li Item
                  ul.slideout-ul
                    h3 Cate Title
                    li Item
                    li Item
                    li Item
                    li Item
                    li Item
                  ul.slideout-ul
                    h3 Cate Title
                    li Item
                    li Item
                    li Item
                    li Item
                    li Item

            div.top-link-container
              a(href="/men").top-link-a MEN
              div.slideout-link-container
                div.slideout-inner-container
                  ul.slideout-ul
                    h3 Shop Categories
                    li: a(href="/men/shirts") Shirts
                    li: a(href="/men/shirts") Shirts
                    li: a(href="/men/shirts") Shirts
                    li: a(href="/men/shirts") Shirts
                    li: a(href="/men/shirts") Shirts
                  ul.slideout-ul
                    h3 Cate Title
                    li Item
                    li Item
                    li Item
                    li Item
                    li Item
                  ul.slideout-ul
                    h3 Cate Title
                    li Item
                    li Item
                    li Item
                    li Item
                    li Item
