doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    title Bealls Florida Department
  body
    section.main-header-wrapper
      div.main-header-display
        div.main-nav-wrapper
          div.main-logo
            h1 Bealls
          div.main-nav-links
            div.top-link-container
              span Home
              div.slideout-link-container
