doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/main.css')
    title Bealls Florida Department
  body
    
    section.main-header-wrapper
      div.main-header-display
        section.main-nav-wrapper
          div.main-logo
            h1 BEALLS

          section.main-nav-links
            div.top-link-container
              span HOME
              div.slideout-link-container
                div.slideout-inner-container
                    ul.slideout-ul
                      h3 Cate Title
                      li Item
                      li Item
                      li Item
                      li Item
                      li Item
                    ul.slideout-ul
                      h3 Cate Title
                      li Item
                      li Item
                      li Item
                      li Item
                      li Item
                    ul.slideout-ul
                      h3 Cate Title
                      li Item
                      li Item
                      li Item
                      li Item
                      li Item

            div.top-link-container
              span WOMEN
              div.slideout-link-container
                div.slideout-inner-container
                    ul.slideout-ul
                      h3 Cate Title
                      li Item
                      li Item
                      li Item
                      li Item
                      li Item
                    ul.slideout-ul
                      h3 Cate Title
                      li Item
                      li Item
                      li Item
                      li Item
                      li Item
                    ul.slideout-ul
                      h3 Cate Title
                      li Item
                      li Item
                      li Item
                      li Item
                      li Item

            div.top-link-container
              span MEN
              div.slideout-link-container
                div.slideout-inner-container
                    ul.slideout-ul
                      h3 Cate Title
                      li Item
                      li Item
                      li Item
                      li Item
                      li Item
                    ul.slideout-ul
                      h3 Cate Title
                      li Item
                      li Item
                      li Item
                      li Item
                      li Item
                    ul.slideout-ul
                      h3 Cate Title
                      li Item
                      li Item
                      li Item
                      li Item
                      li Item
