section.mobile-topbar
  div.mobile-menu-button
    span
    span
    span
  div.mobile-topbar-logo
      a(href="/"): img(src="/imgs/bealls-emblem.png")

section.mobile-header-wrapper
  div.mobile-header-display
    section.mobile-nav-links
      div.panel
        a(href="/") HOME
      div.panel
        p WOMEN
        div.mobile-link
          a(href="#") WOMEN HOME
        div.mobile-link
          h2 FEATURED
          div.mobile-inner-links
            a(href="#") Trend Shop
            a(href="#") Dress Shop
            a(href="#") Denim Trends
            a(href="#") BEALLS Sale
            a(href="#") Gift Cards
            a(href="#") Clearance
