section.modular-wrapper
  div.modular-display

    section.intro-index-wrapper
      div.intro-index-display
        div.sale-centered
          h2 #{Products.shoes.saleRate}
            span  OFF
            span  ALL
            h2 #{Products.shoes.product}
          button SHOES

    section.first-product-wrapper
      div.first-product-display
        div.sale-left
          h2 FASHION
          h3 VALUE
          h4 BRANDS
          button SAVE #{Products.shoes.saleRate}
          span On All Brands

    section.second-product-wrapper
      div.second-product-display
        div.sale-right
          h2 FASHION
          h3 VALUE
          h4 BRANDS
          button SAVE 70%
          span On All Brands
