section.modular-wrapper
  div.modular-display

    section.intro-index-wrapper
      div.intro-index-display
        div.sale-centered
          h2 30%
            span  OFF
            span  ALL
            h2 SHOES
          button SHOP SHOES

    section.first-product-wrapper
      div.first-product-display
