include ./partials/header.pug
include ./partials/mobile-nav.pug

section.intro-index-wrapper
  div.intro-index-display
    div.sale-centered
      h2 30%
        span  OFF
        span  ALL
        h2 SHOES
      button SHOP SHOES

include ./partials/modular-product.pug

include ./partials/footer.pug
