// Colors
$black: #000
$bealls-blue: #0099c7
$light-blue: #73C4D5
$dark-blue: #005488
$sale: #ce203e
$deep-blue: #015488
$off-white: #f5f5f5
$modal-back: rgba(0, 0, 0, 0.4)

// Transitions
$fast-linear: all 350ms linear
$mid-ease: all 500ms ease
$fast-linear-delay: all 350ms linear 0.1s
$mid-ease-delay: all 500ms ease 0.35s
$mobile-trans: all 450ms cubic-bezier(0.77, 0, 0.175, 1)
$modal-trans: all 500ms cubic-bezier(0.77, 0, 0.175, 1)
