.mobile-topbar
  width: 100vw
  height: 50px
  background: #f5f5f5
  position: fixed
  left: 0
  z-index: 10
  transition: $mobile-trans

  &.active-mobile
    left: 220px

@media(min-width: 1000px)

  .mobile-topbar
    display: none

.mobile-menu-button
  width: 30px
  height: 30px
  position: absolute
  left: 10px
  top: 10px
  cursor: pointer

  span
    width: 26px
    height: 3px
    background: $bealls-blue
    position: absolute
    left: 3px
    transition: $fast-linear

    &:nth-of-type(1)
      top: 5px
    &:nth-of-type(2)
      top: 12px
      opacity: 1
    &:nth-of-type(3)
      top: 19px

    &:nth-of-type(1).active-mobile
      top: 12px
      transform: rotate(45deg)
    &:nth-of-type(2).active-mobile
      top: 12px
      opacity: 0
    &:nth-of-type(3).active-mobile
      top: 12px
      transform: rotate(-45deg)


.mobile-topbar-logo
  width: 30px
  height: 100%
  position: absolute
  left: 48%
  top: 10px

  img
    width: 100%

.mobile-header-wrapper
  width: 220px
  height: 100%
  overflow-y: scroll
  position: fixed
  background: #f5f5f5
  left: -220px
  transition: $mobile-trans

  &.active-mobile
    left: 0



.mobile-header-display
  width: 100%
  height: 100%

.mobile-nav-links
  width: 100%

.panel
  width: 100%
  height: 50px
  overflow: hidden
  background: #f5f5f5
  border-bottom: 1px solid $bealls-blue
  cursor: pointer
  transition: $fast-linear

  a
    color: $bealls-blue
    font-size: 16px
    text-decoration: none
    display: block
    padding: 16px 0
    padding-left: 15px
    transition: $fast-linear

  p
    color: $bealls-blue
    font-size: 18px
    font-weight: bold
    text-decoration: none
    display: block
    padding: 16px 0
    padding-left: 15px
    transition: $fast-linear



.mobile-link
  width: 90%
  height: 50px
  overflow: hidden
  position: relative
  margin: 0 auto
  transition: $fast-linear

  a
    color: $bealls-blue
    font-size: 16px
    text-decoration: none
    display: block
    padding: 0
    padding: 16px 0 16px 15px 
    transition: $fast-linear



.mobile-inner-links
  width: 100%
  height: 100%
  transition: $fast-linear

  a
    color: $bealls-blue
    font-size: 16px
    text-decoration: none
    display: block
    padding: 0
    padding-left: 15px
    transition: $fast-linear





// Active Panels

.active-panel
  height: auto
  overflow: visible

  p
    color: #fff
    background: $bealls-blue

  .mobile-link
    p
      color: $bealls-blue
      background: #f5f5f5


.active-link
  height: 100%
  overflow: visible

.active-inner-links
  a
    padding: 16px 0 16px 15px
